/* Global Styles */

html {
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20, 20, 20);
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

@media screen and (min-width: 950px) {
    h1 {
        font-size: 21px;
        margin-top: 0px;
    }
}

h2 {
    font-family: 'Arial Black', 'Arial', 'sans-serif';
    font-size: 32px;
}

@media screen and (min-width: 950px) {
    h2 {
        font-size: 28px;
    }
}

h3 {
    font-size: 24px;
    font-family: 'Arial Black', 'Arial', 'sans-serif';
    color: #EFEFEF;
}

@media screen and (min-width: 850px) {
    h3 {
        font-size: 30px;
    }
}

h4 {
    font-size: 21px;
    font-family: 'Arial Black', 'Arial', 'sans-serif';
    color: #3680A7;
}

h4.footer-heading {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EFEFEF;
    margin: 0px;
}

b {
    color: #3680A7;
}

p {
    line-height: 2em;
}

a {
    transition: color 500ms ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: unset;
}

a:hover, a:focus, .hamburger-menu:hover, .hamburger-menu:focus {
    color: #C67835 !important;
}

a:visited {
    color: unset;
}

img {
    display: block;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.simple-hide {
    opacity: 0 !important;
}

.hide {
    transform: scaleY(0.7);
    transform-origin: center bottom;
    opacity: 0;
    transition: all 1500ms cubic-bezier(0.23,1,0.32,1);
    transform-style: preserve-3d;
}

.show {
    transform: scaleY(1);
    opacity: 1;
    transform-style: preserve-3d;
    transition: all 1500ms cubic-bezier(0.23,1,0.32,1);
    transform-origin: center bottom;
}

.white-box, .blue-box, .black-box {
    padding: 20px;
}

.white-box {
    background-color: #EFEFEF;
}

.blue-box {
    background-color: #3680A7;
}

.black-box {
    background-color: rgb(20, 20, 20);
}

.button {
    height: 16px;
}

g {
    stroke: rgb(20, 20, 20);
    transition: all 500ms ease-in-out;
}

.button:hover g {
    stroke: #C67835;
    transform: translateX(10px);
}

.container {
    width: calc(100% - 40px);
    height: max-content;
}

li {
    line-height: 2em;
}

.big-title {
    margin-left: -24px;
    margin-top: 84px;
    color: rgb(20, 20, 20);
}

@media screen and (min-width: 850px) {
    .big-title {
        font-size: 48px;
        margin-top: 57px;
    }
}

/* Navigation Styles */

nav {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0));
    height: 60px;
    width: 100vw;
    position: fixed;
    z-index: 10;
}

.logo {
    padding: 20px;
    position: fixed;
}

.logo-img {
    width: 68px;
    transition: opacity 500ms ease-in-out;
    opacity: 1;
}

@media screen and (min-width: 850px) {
    .logo-img {
        width: 108px;
    }
}

.logo-img:hover, .logo-img:focus {
    opacity: 1 !important;
}

.hamburger-menu {
    position: fixed;
    color: #EFEFEF;
    right: 0px;
    padding: 20px 30px;
    font-size: 2em;
    line-height: 0.7em;
    cursor: pointer;
    transition: color 500ms ease-in-out;
}

.nav-menu {
    height: 100vh;
    width: 100%;
    position: fixed;
    transform: translateX(calc(100% + 40px));
    transition: all 500ms ease-in-out;
}

@media screen and (min-width: 600px) {
    .nav-menu {
        width: 25%;
        right: 0px;
    }
}

.x {
    color: #EFEFEF;
    position: absolute;
    right: 76px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: color 500ms ease-in-out;
}

@media screen and (min-width: 600px) {
    .x {
        right: 36px;
    }
}

.x:hover, .x:focus {
    color: #C67835;
}

.menu {
    margin-top: 60px;
    font-size: 24px;
}

.social-icon-menu {
    width: 32px;
    margin-top: 10px;
    display: inline;
}

.social-hover-menu {
    margin-left: -39px;
    transition: opacity 500ms ease-in-out;
}

/* Home Page Header Styles */

.headshot {
    width: 78%;
    z-index: -1;
    height: unset;
}

@media screen and (min-width: 950px) {
    .headshot {
        width: auto;
        height: 100vh;
    }
}

@media screen and (min-width: 1100px) {
    .headshot {
        height: calc(100vh + 100px);
    }
}

.chris-img-container {
    width: 100%;
    height: max-content;
    background: linear-gradient(to bottom, rgba(20, 20, 20), rgb(51, 51, 51));
}

#wipe1, #wipe2, #wipe3, #wipe4, #wipe5, #wipe6 {
    width: 100%;
    height: 16.6666667vh;
    position: fixed;
    z-index: 20;
    transition: transform 400ms ease-in-out;
    background-color: #EFEFEF;
}

@media screen and (min-width: 950px) {
    #wipe1, #wipe2, #wipe3, #wipe4, #wipe5, #wipe6 {
        transition: transform 750ms ease-in-out;
    }
}

#wipe2 {
    top: 16.6666667vh;
}

#wipe3 {
    top: 33.3333333vh;
}

#wipe4 {
    top: calc(50vh - 1px);
}

#wipe5 {
    top: calc(66.6666667vh - 1px);
}

#wipe6 {
    top: calc(83.3333334vh - 1px);
    height: calc(16.6666667vh + 1px);
}

@media screen and (min-width: 950px) {
    #white-intro-tab {
        position: absolute;
        top: 0px;
        left: 54%;
        transform: translateY(-220%);
        transition: transform 750ms ease-in-out;
    }
}

@media screen and (min-width: 1100px) {
    #white-intro-tab {
        left: 680px;
        width: 36%;
    }
}

.top-box {
    position: absolute;
    height:  22px;
    width: calc(25% - 42px);
    left: calc(53% + 2px);
    top: 0px;
    z-index: 0;
    transform: translateY(-350px);
    transition: transform 750ms ease-in-out;
}

@media screen and (min-width: 950px)  {
    .top-box {
        display: none;
        transform: unset;
    }
}

.hello {
    position: absolute;
    width: 25%;
    left: 53%;
    top: 60px;
    opacity: 1;
    transform: translateY(-350px);
    transition: transform 750ms ease-in-out;
}

@media screen and (min-width: 950px)  {
    .hello {
        position: relative;
        top: unset;
        height: 280px;
        width: auto;
        left: unset;
        transform: unset;
    }
}

.top-box2 {
    position: absolute;
    top: 0px;
    left: 254px;
    height: 280px;
    width: 90px;
    display: none;
}

@media screen and (min-width: 950px)  {
    .top-box2 {
        display: block;
    }
}

@media screen and (min-width: 1100px) {
    .top-box2 {
        width: calc(100% - 294px);
        height: 240px;
        background: #EFEFEF;
    }
}

@media screen and (min-width: 950px) {
    .page-intro {
        position: absolute;
        top: 268px;
        width: 344px;
        padding-bottom: 0px;
    }
}

@media screen and (min-width: 1100px) {
    .page-intro {
        width: calc(100% - 40px);
    }
}

/* Home Page Portfolio Styles */

.portfolio {
    height: max-content;
    width: calc(100% - 40px);
    padding: 20px;
    background-color: #EFEFEF;
    margin-top: 40px;
}

@media screen and (min-width: 950px) {
    .portfolio {
        display: grid;
        grid-template-columns: 90% 10%;
        grid-template-rows: 100%;
        margin-top: 70px;
        background-color: unset;
    }
}

.projects {
    width: calc(100% - 40px);
    display: grid;
    justify-content: center;
    grid-area: 1/1/1/1;
    margin-left: 20px;
}

@media screen and (min-width: 950px) {
    .projects {
        background-color: rgb(20, 20, 20);
        margin-top: -20px;
        margin-left: -20px;
        grid-row: 1/1;
        width: calc(100% + 20px);
    }
}

.proj-title-box {
    width: calc(50% - 40px);
    height: 30px;
    float: right;
    margin-top: 40px;
}

@media screen and (min-width: 950px) {
    .proj-title-box {
        width: 80%;
        margin-top: 0px;
        position: absolute;
        z-index: 3;
        right: 0px;
    }
}

.white-proj-box {
    width: calc(100% - 40px);
    height: 100%;
    z-index: -1;
    display: none;
    grid-area: 1/1/1/3;
    margin-top: -40px;
}

.top-white-proj-box {
    margin-top: -110px;
    height: calc(100% + 70px);
}

.bottom-white-proj-box {
    height: calc(100% + 40px)
}

@media screen and (min-width: 950px) {
    .white-proj-box {
        display: block;
    }
}

.blue-proj-box {
    height: calc(100% + 60px);
    margin-top: -20px;
    z-index: -1;
    width: calc(100% + 20px);
    padding: 0px;
}

.title {
    margin-left: -23px;
}

@media screen and (min-width: 850px) {
    .title {
        margin-top: 17px;
    }
}

.project-img, .skills-img {
    width: 100%;
}

.project-img {
    max-width: 400px;
}

@media screen and (min-width: 440px) {
    .project-img {
        min-width: 400px;
        max-width: unset;
    }
}

@media screen and (min-width: 950px) {
    .project-img {
        grid-area: 1/2/1/2;
        max-width: unset;
        min-width: unset;
        width: calc(100% - 80px)
    }
}

.project, .top-img {
    margin-top: 20px;
}

@media screen and (min-width: 950px) {
    .top-img {
        margin-top: 0px;
    }

    .project {
        display: grid;
        grid-template-columns: 45% 55%;
        z-index: 2;
        grid-template-rows: 100%;
        width: 100%;
        justify-items: center;
        margin-top: 40px;
    }
}

.proj-info, .project-info2 {
    margin-top: 6px;
    max-width: 360px;
    padding-left: 0px;
}

@media screen and (min-width: 440px) {
    .proj-info, .project-info2 {
        min-width: 360px;
    }
}

@media screen and (min-width: 950px) {
    .proj-info {
        min-width: unset;
        max-width: unset;
        grid-area: 1/1/1/1;
        margin-top: 0px;
        padding: 0px 60px;
        width: calc(100% - 120px);
    }
}

.proj-title {
    margin-top: 0px;
    margin-bottom: 16px;
}

.proj-desc {
    line-height: normal;
    margin-bottom: 0px;
}

/* Home Page Skills Styles */

.skills {
    margin-top: 60px;
    overflow: hidden;
}

.skills-header {
    height: 200px;
    overflow: hidden;
}

@media screen and (min-width: 850px) {
    .skills-header {
        height: unset;
        overflow: unset;
    }
}

.skills-title-box {
    width: calc(25% - 40px);
    height: 10px;
    margin-top: 150px;
}

@media screen and (min-width: 850px) {
    .skills-title-box {
        display: none;
    }
}

.skills-img {
    margin-top: -170px;
    position: absolute;
    z-index: -1;
    max-height: 636px;
}

@media screen and (min-width: 850px) {
    .skills-img {
        width: 40%;
        margin-top: 0px;
        min-height: 366px;
        max-height: unset;
    }
}

.skills-title {
    margin-left: calc(25% - 2px);
    margin-top: -26px;
}

@media screen and (min-width: 850px) {
    .skills-title {
        float: right;
        margin-right: calc(45% - 78px);
        margin-top: -32px;
    }
}

.skills-white-box {
    width: 50%;
    height: 30px;
    display: none;
}

@media screen and (min-width: 850px) {
    .skills-white-box {
        display: block;
    }
}

.skills-blue-box {
    float: right;
    height: 30px;
    width: 45%;
    margin-top: -70px;
    display: none;
}

@media screen and (min-width: 850px) {
    .skills-blue-box {
        display: block;
    }
}

#skills-li {
    transition: opacity 750ms ease-in-out;
}

@media screen and (min-width: 850px) {
    #skills-li {
        display: flex;
    }
}

@media screen and (min-width: 850px) {
    .skills-list {
        margin-top: 0px;
        width: calc(60% - 40px);
        margin-left: 40%;
    }
}

.skills-li-2 {
    margin-top: -16px;
}

@media screen and (min-width: 850px) {
    .skills-li-2 {
        margin-top: 16px;
    }
}

@media screen and (min-width: 850px) {
    .li {
        width: max-content;
    }
}


/* Footer Styles */

footer {
    padding: 20px;
    padding-bottom: 14px;
    background-color: rgb(20, 20, 20);
}

.links {
    color: gray;
    display: block;
}

.links:hover, .links:focus {
    color: #EFEFEF;
}

.link-ul {
    padding-left: 0px;
    padding-right: 20px;
    margin-bottom: 0px;
}

.quick-link-container {
    display: flex;
}

.copywrite {
    float: right;
    color: gray;
    margin-top: -34px;
}

.social-icon {
    width: 20px;
    margin-top: 4px;
    display: inline;
}

.social-hover {
    margin-left: -25px;
    transition: opacity 500ms ease-in-out;
}

.social-hover:hover, .social-hover:focus, .social-hover-contact:hover, 
.social-hover-contact:focus, .social-hover-contact2:hover, .social-hover-contact2:hover,
.social-hover-menu:hover, .social-hover-menu:focus {
    opacity: 1 !important;
}

/* Contact Page Styles  */

.header {
    height: 130px;
}

.contact-header {
    height: 90px;
    width: calc(100% - 40px);
    float: right;
}

@media screen and (min-width: 850px) {
    .contact-header {
        width: 80%;
    }
}

@media screen and (min-width: 850px) {
    .contact-article {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
    }
}

.contact {
    width: calc(100% - 40px);
    padding: 40px 20px;
    max-width: 1000px;
}

@media screen and (min-width: 850px) {
    .contact {
        display: flex;
        height: max-content;
        background-color: #EFEFEF;
        width: 80%;
        padding: 0px;
        margin-top: 60px;
    }
}

@media screen and (min-width: 850px) {
    form {
        width: 50%;
    }
}

input, textarea {
    width: calc(100% - 22px);
    padding: 10px;
    background-color: #D8D8D8;
    border: gray solid 1px;
}

.label {
    margin: 0px;
}

#message {
    height: 120px;
}

.button-container {
    width: 100%;
    display: grid;
    justify-items: right;
}

.submit {
    background-color: #3680A7;
    padding: 12px 20px;
    color: #EFEFEF;
    border: none;
    transition: background-color 500ms ease-in-out;
}   

.submit:hover, .submit:focus {
    background-color: #C67835;
}

.contact-footer {
    height: 80px;
}

@media screen and (min-width: 850px) {
    .contact-footer {
        margin-top: -40px;
    }
}

.contact-element {
    margin-top: -200px;
    height: 160px;
    width: 50%;
    float: right;
    display: none;
}

@media screen and (min-width: 850px) {
    .contact-element {
        display: block;
    }
}

.contact-info {
    background-color: #EFEFEF;
    padding-top: 20px;
}

@media screen and (min-width: 850px) {
    .contact-info {
        width: 50%;
    }
}

.contact-me {
    margin-left: 20px;
    margin-right: 20px;

}

.social-icon-contact {
    width: 32px;
    margin-top: 4px;
    display: inline;
}

.social-hover-contact {
    margin-left: -36px;
    transition: opacity 500ms ease-in-out;
}

.social-hover-contact2 {
    margin-left: -37px;
    transition: opacity 500ms ease-in-out;
}


/* Project Page Styles */

.proj-top-img {
    margin-top: 40px;
    width: 100%;
    opacity: 1;
}

.proj-blue-box {
    width: calc(20% - 40px);
    height: 60px;
}

.proj-page-title {
    margin-top: -26px;
    margin-left: calc(20% - 2px);
}

@media screen and (min-width: 850px) {
    .proj-page-title {
        margin-top: -34px;
    }
}

.proj-section {
    margin-top: -31px;
}

@media screen and (min-width: 850px) {
    .proj-section {
        margin-top: -40px;
    }
} 

@media screen and (min-width: 950px) {
    .proj-section {
        display: flex;
    }
} 

.proj-section-top {
    padding-bottom: 20px;
}

@media screen and (min-width: 950px) {
    .proj-section-side {
        padding: 40px;
    }

    .proj-section-top {
        padding: 0px 40px;
    }
} 

.proj-computer-img {
    width: 100%;
}

.computer-container {
    height: 300px;
    overflow: hidden;
}

/* About Page Styles */

.about {
    width: 80%;
    margin-left: 10%;
    margin-top: 60px;
    padding-right: 0px;
    padding-bottom: 40px;
}

@media screen and (min-width: 950px) {
    .about {
        display: flex;
    }
}

.about-img {
    width: calc(100% - 40px);
}

@media screen and (min-width: 950px) {
    .about-img {
        width: calc(30% - 20px);
    }
}

.about-info {
    width: 100%;
    background-color: #EFEFEF;
    padding-bottom: 20px;
}

@media screen and (min-width: 950px) {
    .about-info {
        width: 70%;
        padding-left: 20px;
        padding-right: 20px;
    }
}